/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.a0{
    width: 100%;
    height: 200px;
    background-color: bisque;
    
}

.a2{
    width:60%;
    height: 200px;
    background-color: #000;
    margin-left: 20%;
    margin-top: 200px;

}

.a3{
    width: 20%;
    height: 200px;
    background-color: #333;
    margin-left: 80%;
    margin-top: -200px;
}

.a4{
    width: 20%;
    height: 200px;
    background-color: aquamarine;
    margin-top: -200px;

}

.a6{
    width: 100%;
    height: 200px;
    background-color: blue;
    
}

.box{
    height: 1000px;
}



.a5{
    margin-top: -200px;
}







    